html, body, #App, #root {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #fffef6;
  width: 80%;
  margin: auto;
}

#App {
  color: #516880;
  text-align: center;
}

.main-btn {
  position: fixed;
  bottom: 10%;
  background-color: #516880;
  color: white;
  border-radius: 50px;
  border: none;
  height: 60px;
  width: 60px;
  font-size: 3em;
}

.plus-icon {
  color: white;
}

.text-input {
  position: fixed;
  bottom: 10%;
  background-color: #516880;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 17px;
  font-size: 1.2em;
}

.text-input::placeholder {
  color: white;
}

.to-do {
  display: block;
  background-color: #EAF4DA;
  font-weight: 200;
  font-size: 1.2em;
  padding: 7% 10%;
  border-radius: 14px;
}

#to-do-items {
  width: 100%;
}
